@font-face {
    font-family: "Agency FB V2";
    src: url("https://db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.eot");
    src: url("https://db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.svg#Agency FB V2")format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #625BFE;
    --primary-color-dark: #7771F6;
    --button-color: #5433FF;
    --button-color-shadow: rgba(255, 51, 153, 0.19);
    --text-color: white;
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Agency FB V2", sans-serif;
}

html {
    scroll-behavior: smooth;
    zoom: 90%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #cccccc;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #52596d;
    border: 2px #fcf9ed solid;
    border-radius: 25px;
}